<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
>
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide }}" alt="" class="caroussel-img" />
  </div>
</ngx-slick-carousel>
<!--  -->
<div class="mt-3"></div>
<ngx-slick-carousel
  class="carousel"
  #slickModal2="slick-carousel"
  [config]="slideConfig2"
  (init)="slickInit($event)"
>
  <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide">
    <a (click)="slickModal.slickGoTo(i)">
      <img src="{{ slide }}" alt="" class="caroussel-img2" />
    </a>
  </div>
</ngx-slick-carousel>
